<!DOCTYPE html>
<html>
<head>
  <title>Clipster</title>
  <%= stylesheet_link_tag    "clipster/application", :media => "all" %>
  <%= javascript_include_tag "clipster/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
