<legend>New Clip</legend>
<!-- title -->
<div class="span4 offset1">
    <label>Title</label>
    <input type="text" />
</div>
<!-- /title -->

<div class="span4 offset1 pull-right">
    <label>Language</label>
    <select>
        <option>Select Language:</option>
        <option>Ruby</option>
        <option>Python</option>
    </select>
</div>

<!-- clip -->
<div class="span10 offset1">
    <label>Clip</label>
    <textarea class="span10" rows=10></textarea>
</div>
<!-- /clip -->