<legend>New Clip</legend>
<!-- title -->
<div class="span4 offset1">
    <label>Title</label>
    <input type="text" />
</div>
<!-- /title -->

<div class="span4 offset1 pull-right">
    <label>Language</label>
    <%= select("clip", "language", @languages) %>
</div>

<!-- clip -->
<div class="span10 offset1">
    <label>Clip</label>
    <textarea class="span10" rows=10></textarea>
</div>
<!-- /clip -->

<div class="span2 pull-right">
    <input class="btn btn-primary" type="submit" value="Submit" />
</div>
