/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  /*border-left: 0;*/
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.bordered div {
    margin: 5px;
}

.title {
    border-bottom: 1px solid #ddd;
}

.help-tip label{
    display: inline;
}